<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866700292094-u3idvomlf110fa95piqfiuqf2jcedjqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866700292094-u3idvomlf110fa95piqfiuqf2jcedjqq</string>
	<key>API_KEY</key>
	<string>AIzaSyCPIU4jn6rdbaX_mlDp9f9NJi8xq915QWc</string>
	<key>GCM_SENDER_ID</key>
	<string>866700292094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andypang1010.Lumiere-iOS</string>
	<key>PROJECT_ID</key>
	<string>lumiere-ios-87941</string>
	<key>STORAGE_BUCKET</key>
	<string>lumiere-ios-87941.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866700292094:ios:b3edf9faa29ad8a4475aaf</string>
</dict>
</plist>